.alojar { background-color: #eee; border:1px solid #666; margin: 10px 0; width: 90%;} 
.alojar h2 {color:#0066cc; font-family: Arial; font-size: 17px; font-weight: bold; margin: 4px 0 ;}

.opc {background-color: #fff; margin: 7px; padding: 5px; } 

.habi {margin: 5px 0px 10px 30px; width: 80%;}